<!-- views/partials/footer.ejs -->
<!-- start footer -->
<!-- add after close of last section but still inside body-->
    <footer class="text-muted">
      <div class="container">

        <div id="lastUpdatedDiv"> <p><i>Last updated 23 March 2020.</i></p></div>
        <!-- Standard Footer -->
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>covid19zim Dashboard &copy; 2020.</p>
        <p>Made with Bootstrap & Node.JS by <a href="https://github.com/jajukajulz/">Julian Kanjere</a>.</p>
      </div>
    </footer>
  <!-- end footer -->