<!-- views/partials/footer.ejs -->
<!-- start footer -->
<!-- add after close of last section but still inside body-->
    <footer class="text-muted">
      <div class="container">
        <!-- Standard Footer -->
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <!--<div id="lastUpdatedDiv"> <p><i>Last updated 23 March 2020.</i></p></div>-->
        <p>Covid19Zim Dashboard &copy; 2020. <a href="/docs/terms.pdf" target="_blank">Terms and Conditions</a> apply.</p>
        <p>Made with Bootstrap & Node.JS by <a href="https://github.com/jajukajulz" target="_blank">Julian Kanjere</a>.</p>
      </div>
    </footer>
  <!-- end footer -->