<!-- views/partials/footer.ejs -->
<!-- start footer -->
<!-- add after close of last section but still inside body-->
    <footer class="text-muted">
      <div class="container-fluid">
        <!-- Standard Footer -->
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <!--<div id="lastUpdatedDiv"> <p><i>Last updated 23 March 2020.</i></p></div>-->
        <p>Covid19Zim Information Hub &copy; 2020. <a href="/docs/terms.pdf" target="_blank">Terms and Conditions</a> apply.</p>
        <p><a href="http://juliankanjere.com/2020/03/covid19zim-aggregator/" target="_blank">Covid19Zim Information Hub</a> is an independent web application.</p>
      </div>
    </footer>
  <!-- end footer -->