<!-- views/partials/header.ejs -->
<!-- START: header -->
<!-- add immediately after body tag-->
<div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">Covid19Zim Aggregator</h4>
        <p class="text-muted">Covid19Zim Aggregator is a web & mobile application for accessing statistics and information about the COVID-19 in Zimbabwe. Statistics are gathered from sources such as the Ministry of Health and Child Care (MoHCC) in Zimbabwe and World health Organisation (WHO). This application is independently developed and not affiliated with any official organisation.</p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">Contact</h4>
        <ul class="list-unstyled">
          <li><a href="https://docs.google.com/forms/d/1mr3Kns_mwMX5brVBYgfxJKb8kO1zhaYU1p-VSV_Q5pI/" target="_blank" class="text-white">Get in Touch</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand d-flex align-items-center" id="homeMenuButton">
     <svg class="svg-icon" viewBox="0 0 20 20">
        <path fill="none" d="M18.737,9.691h-5.462c-0.279,0-0.527,0.174-0.619,0.437l-1.444,4.104L8.984,3.195c-0.059-0.29-0.307-0.506-0.603-0.523C8.09,2.657,7.814,2.838,7.721,3.12L5.568,9.668H1.244c-0.36,0-0.655,0.291-0.655,0.655c0,0.36,0.294,0.655,0.655,0.655h4.8c0.281,0,0.532-0.182,0.621-0.45l1.526-4.645l2.207,10.938c0.059,0.289,0.304,0.502,0.595,0.524c0.016,0,0.031,0,0.046,0c0.276,0,0.524-0.174,0.619-0.437L13.738,11h4.999c0.363,0,0.655-0.294,0.655-0.655C19.392,9.982,19.1,9.691,18.737,9.691z"></path>
    </svg>
      <strong>Covid19Zim Aggregator</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
<section class="jumbotron text-center">
  <p class="container">
    <h1 class="jumbotron-heading"><%= title_main %></h1>
    <!--<h3 class="jumbotron-heading"><%= title_sub %></h3>-->
    <p class="lead text-muted"><%= title_hastags%></p>
  </div>
</section>
<div class ="row">
    <div class="col "><a href="#" class="btn btn-outline-primary btn-block mt-2" aria-pressed="true" id="dataMenuButton">Data</a></div>
    <div class="col"><a href="#" class="btn btn-outline-primary btn-block mt-2" aria-pressed="true" id="hotlinesMenuButton">Hotlines</a></div>
    <div class="col"><a href="#" class="btn btn-outline-primary btn-block mt-2" aria-pressed="true" id="resourcesMenuButton">Resources</a></div>
    <div class="col"><a href="#" class="btn btn-outline-primary btn-block mt-2" aria-pressed="true" id="serviceProviderMenuButton">Service Providers</a></div>
</div>
<!-- END: header -->