<!-- views/partials/head.ejs -->
<!-- add between head tags-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>
<meta name="description" content="Covid19Zim Aggregator. Near-real time statistics and information about the COVID-19 in Zimbabwe.">
<meta name="keywords" content="Covid19Zim aggregator dashboard zimbabwe">
<meta name="author" content="@jajukajulz">

<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/scripts/bootstrap/css/bootstrap.css'/>
<script src="/scripts/jquery/jquery.js"  crossorigin="anonymous"></script>
<script src="/scripts/bootstrap/js/bootstrap.js"></script>
<script src="/javascripts/covid19zim.js"></script>
