<!-- views/partials/menu.ejs -->
<!-- start menu -->
<!-- add after including header partial,but still inside header tag-->
  <div class ="row">
    <div class="col "><a href="#" class="btn btn-outline-primary btn-block mt-2" aria-pressed="true" id="dataMenuButton">Dashboard</a></div>
    <div class="col"><a href="#" class="btn btn-outline-primary btn-block mt-2" aria-pressed="true" id="hotlinesMenuButton">Hotlines</a></div>
    <div class="col"><a href="#" class="btn btn-outline-primary btn-block mt-2" aria-pressed="true" id="resourcesMenuButton">Resources</a></div>
    <div class="col"><a href="#" class="btn btn-outline-primary btn-block mt-2" aria-pressed="true" id="serviceProviderMenuButton">Health Providers</a></div>
  </div>
  <!-- end menu -->