<!DOCTYPE html>
<html lang="en">
  <head>
        <%- include ('./partials/head') %>
  </head>
  <body>

    <!-- START: header -->
    <header>
      <%- include ('./partials/header')  %>
    </header>
    <!-- END: header -->

    <main role="main">
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row align-items-center justify-content-center text-wrap text-break" id="notificationBarRow">
              <div class="col-md-8">
                <%- include ('./partials/notificationbar') %>
              </div>
          </div>
          <div class="row" id="loadingRow">Loading...</div>
          <div class="row align-items-center justify-content-center" id="dataRow">
            <div class="col-md-8">
              <h4>
                <p class="text-muted text-center">DASHBOARD</p>
              </h4>
            </div>
            <div class = "row">
                <div class="card-deck col-md-12">
                  <div class="card shadow-sm border-danger">
                    <div class="card-header text-danger"><b>Total Confirmed</b></div>
                    <div class="card-body text-danger">
                      <p class="card-text">2</p>
                    </div>
                  </div>
                  <div class="card shadow-sm border-secondary">
                    <div class="card-header text-secondary"><b>Total Deaths</b></div>
                    <div class="card-body text-secondary">
                      <p class="card-text">1</p>
                    </div>
                  </div>
                  <div class="card shadow-sm border-success">
                    <div class="card-header text-success"><b>Total Recovered</b></div>
                    <div class="card-body text-success">
                      <p class="card-text">No Data</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="row align-items-center justify-content-center" id="hotlinesRow">
            <div class="col-md-8 order-md-1">
              <h4>
                <p class="text-muted text-center">HOTLINES</p>
              </h4>
              <small class="text-muted">10MB Size Limit for ZIP file</small>
              <small class="text-muted">10MB Size Limit for ZIP file</small>
              <small class="text-muted">10MB Size Limit for ZIP file</small>
            </div>
          </div>
          <div class="row align-items-center justify-content-center" id="resourcesRow">
            <div class="col-md-8 order-md-1">
              <h4>
                <p class="text-muted text-center">RESOURCES</p>
              </h4>
              <small class="text-muted">10MB Size Limit for ZIP file</small>
              <small class="text-muted">10MB Size Limit for ZIP file</small>
              <small class="text-muted">10MB Size Limit for ZIP file</small>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- start footer -->
    <%- include ('./partials/footer') %>
    <!-- end footer -->

  </body>
</html>

