<!DOCTYPE html>
<html lang="en">
  <head>
        <%- include ('./partials/head') %>
  </head>
  <body>

    <!-- START: header -->
    <header>
      <%- include ('./partials/header')  %>
    </header>
    <!-- END: header -->

    <main role="main">
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row align-items-center justify-content-center text-wrap text-break" id="notificationBarRow">
              <div class="col-md-8">
                <%- include ('./partials/notificationbar') %>
              </div>
          </div>
          <div class="row justify-content-center" id="loadingRow">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="row align-items-center justify-content-center" id="dataRow">
            <div>
              <h5>
                <p class="text-muted">COVID-19 DASHBOARD</p>
              </h5>
            </div>
            <div class = "container">
              <div class="row">
                <div class="card-deck mt-3 col-md-12 text-center">
                  <div class="card shadow-sm border-warning">
                    <div class="card-header text-warning"><h3>Total Positive</h3></div>
                    <div id="stats_total_confirmed" class="card-body text-warning">
                      <h1 class="card-text">No Data</h1>
                    </div>
                  </div>
                  <div class="card shadow-sm border-danger">
                    <div class="card-header text-danger"><h3>Total Deaths</h3></div>
                    <div id="stats_total_deaths" class="card-body text-danger">
                      <h1 class="card-text">No Data</h1>
                    </div>
                  </div>
                  <div class="card shadow-sm border-secondary">
                    <div class="card-header text-secondary"><h3>Total Tested</h3></div>
                    <div id="stats_total_tested" class="card-body text-secondary">
                      <h1 class="card-text">No Data</h1>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="card-deck mt-3 col-md-12 text-center">
                <div class="card shadow-sm border-success">
                  <div class="card-header text-success"><h3>Total Recovered</h3></div>
                  <div id="stats_total_recover" class="card-body text-success">
                    <h1 class="card-text">No Data</h1>
                  </div>
                </div>
                <div class="card shadow-sm border-success">
                  <div class="card-header text-success"><h3>Total Negative</h3></div>
                  <div id="stats_total_negative" class="card-body text-success">
                    <h1 class="card-text">No Data</h1>
                  </div>
                </div>
            </div>
          </div>
            <div class="row">
              <div class="card-deck mt-3 col-md-12 text-center">
                  <div class="card shadow-sm border-info">
                    <div class="card-header text-info"><h3>Lockdown Status</h3></div>
                    <div id="stats_lockdown_status" class="card-body text-info">
                      <h1 class="card-text">No Data</h1>
                    </div>
                  </div>
                  <div class="card shadow-sm border-info">
                    <div class="card-header text-info"><h3>Lockdown Day Count</h3></div>
                    <div id="stats_lockdown_current_day" class="card-body text-info">
                      <h1 class="card-text">No Data</h1>
                    </div>
                  </div>
              </div>
            </div>
            <p id="stats_last_updated"><b><i>Last updated - </i></b></p>
            <div class="border-top my-3"></div>
            <p id="stats_last_updated"><b><i>Share to Social Media</i></b></p>
            <div aria-label="Share to Social Media"  style="font-size: 24px;">
              <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcovid19zim.site" class="btn btn-outline-primary mt-2" target="_blank" aria-pressed="true" id="facebookMenuButton"><i class="fab fa-facebook-square fa-2x"></i></a>
              <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fcovid19zim.site&amp;text=Covid19Zim%20Aggregator%3A%20Near-real%20time%20Coronavirus%20updates%20for%20Zimbabwe.%20%23Covid19%20%23Covid19Zim%20https%3A%2F%2Fcovid19zim.site%2F" class="btn btn-outline-primary mt-2" target="_blank" aria-pressed="true" id="twitterMenuButton"><i class="fab fa-twitter-square fa-2x"></i></a>
            </div>
          </div>
        </div>
          <div class="row align-items-center justify-content-center" id="hotlinesRow">
            <div>
              <h5>
                <p class="text-muted">MINISTRY OF HEALTH AND CHILD CARE (MoHCC) CONTACT DETAILS</p>
              </h5>
            </div>
            <div class = "container">
              <div class="row">
                <div class="card-deck mt-3 col-md-12">
                  <div class="card shadow-sm border-secondary">
                    <div class="card-header text-secondary"><h3>Toll Free Numbers</h3></div>
                      <div id="hotline_tollfree" class="card-body text-secondary">
                        <h5 class="card-text">COVID-19 Tollfree <a href="tel:2019" target="_blank">2019</a></h5>
                        <h5 class="card-text">Tollfree <a href="tel:+263 714 734 593" target="_blank">+263 714 734 593</a></h5>
                        <h5 class="card-text">Tollfree <a href="tel:+263 774 112 531" target="_blank">+263 774 112 531</a></h5>
                      </div>
                  </div>
                  <div class="card shadow-sm border-secondary">
                    <div class="card-header text-secondary"><h3>Official WhatsApp Bots</h3></div>
                    <div id="hotline_whatsapp" class="card-body text-secondary">
                      <h5 class="card-text"><a href="https://wa.me/263714734593?text=hi" target="_blank">Ministry of Health and Child Care WhatsApp Bot</a></h5>
                      <h5 class="card-text"><a href="http://bit.ly/who-covid19-whatsapp" target="_blank">World Health Organisation WhatsApp Bot</a></h5>
                    </div>
                  </div>
                  <div class="card shadow-sm border-secondary">
                    <div class="card-header text-secondary"><h3>Online</h3></div>
                    <div id="hotline_online" class="card-body text-secondary">
                      <h5 class="card-text"> <a href="https://twitter.com/MoHCCZim" target="_blank">Ministry of Health ZW Twitter</a></h5>
                      <h5 class="card-text"> <a href="http://www.mohcc.gov.zw/" target="_blank">MoHCC Website</a></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center justify-content-center" id="resourcesRow">
            <div>
              <h5>
                <p class="text-muted">HEALTH TIPS</p>
              </h5>
            </div>
            <div class = "container">
              <div class="row">
                <div class="card-deck mt-3 col-md-12">
                  <div class="card shadow-sm border-warning">
                    <div class="card-header text-warning"><h3>Symptoms</h3></div>
                      <div id="resources_symptoms" class="card-body text-secondary">
                        <h5 class="card-text">Fever</h5>
                        <h5 class="text-muted card-text">Cough</h5>
                        <h5 class="text-muted card-text">Shortness of breath</h5>
                      </div>
                  </div>
                  <div class="card shadow-sm border-secondary">
                    <div class="card-header text-secondary"><h3>Protect Yourself</h3></div>
                    <div id="resources_protect_yourself" class="card-body text-secondary">
                      <h5 class="text-muted card-text">Wash hands with soap and water frequently / use an alcohol-based hand-rub</h5>
                      <h5 class="text-muted card-text">Cover your nose and mouth with tissue paper or flexed elbow when coughing and sneezing</h5>
                      <h5 class="text-muted card-text">Avoid close contact with people who are sick</h5>
                    </div>
                  </div>
                  <div class="card shadow-sm border-danger">
                    <div class="card-header text-danger"><h3>If You Think You're Sick</h3></div>
                    <div id="resources_if_sick" class="card-body text-secondary">
                      <h5 class="text-muted card-text">Stay home except to get medical care</h5>
                      <h5 class="text-muted card-text">Separate yourself from other people in your home (home isolation)</h5>
                      <h5 class="text-muted card-text">Wear a face mask</h5>
                      <h5 class="text-muted card-text">Cover your coughs and sneezes</h5>
                      <h5 class="text-muted card-text">Clean hands often</h5>
                    </div>
                  </div>
                </div>
              </div>
              <p id="resources_sources"><i>Sources - <a href="http://www.mohcc.gov.zw/" target="_blank">Ministry of Health and Child Care Website</a>,
                <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank">Centers for Disease Control and Prevention (USA) Website</a></i></p>
                <div class="border-top my-3"></div>
            </div>
            <div>
              <h5>
                <p class="text-muted">RESOURCES</p>
              </h5>
            </div>
            <div class = "container">
              <div class="row">
                <div class="card-deck mt-3 col-md-12">
                  <div class="card shadow-sm border-secondary">
                    <div class="card-header text-secondary"><h3>Stay at Home Means</h3></div>
                      <div id="resources_stayhome" class="card-body text-secondary">
                        <h5 class="card-text">You only go outside for food and health reasons</h5>
                        <h5 class="text-muted card-text">If you go out, stay at least a metre away from other people at all times</h5>
                        <h5 class="text-muted card-text">Wash your hands as soon as you get home</h5>
                        <h5 class="text-muted card-text">Do not meet/visit others, even friends or family</h5>
                        <p class="text-muted"><i>Source - <a href="https://twitter.com/MoHCCZim" target="_blank">Ministry of Health ZW Twitter</a></i></p>
                      </div>
                  </div>
                  <div class="card shadow-sm border-secondary">
                    <div class="card-header text-secondary"><h3>COVID-19 Zimbabwe</h3></div>
                    <div id="resources_covid19_zim" class="card-body text-secondary">
                      <h5 class="card-text"> <a href="https://twitter.com/search?q=%23Covid19Zim" target="_blank">#Covid19Zim Hash Tag on Twitter</a></h5>
                      <h5 class="card-text"> <a href="https://twitter.com/Covid19Zimbabwe" target="_blank">Covid19 Updates Zimbabwe Twitter</a></h5>
                      <h5 class="card-text"> <a href="https://covid-19.org.zw/" target="_blank">Covid19 Updates Zimbabwe Website</a></h5>
                      <h5 class="card-text"> <a href="https://public.co.zw/covid" target="_blank">Zimbabwe Corona Statistics and Information Website</a></h5>
                      <p class="text-muted"><i>Unoffical Resources</i></p>
                    </div>
                  </div>
                  <div class="card shadow-sm border-secondary">
                    <div class="card-header text-secondary"><h3>COVID-19 Global</h3></div>
                    <div id="resources_covid19_global" class="card-body text-secondary">
                      <h5 class="card-text"> <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank">Centers for Disease Control and Prevention (USA) Website</a></h5>
                      <h5 class="card-text"> <a href="https://coronavirus.jhu.edu/map.html" target="_blank">John Hopkins University Coronavirus Resource Center</a></h5>
                      <h5 class="card-text"> <a href="https://www.who.int/" target="_blank">World Health Organisation</a></h5>
                      <h5 class="card-text"> <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank">Centers for Disease Control and Prevention (USA) Website - COVID-19</a></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center justify-content-center" id="serviceProvidersRow">
            <div>
              <h5>
                <p class="text-muted">HOSPITALS</p>
              </h5>
            </div>
            <div class = "container">
              <div class="row">
                <div class="card-deck mt-3 col-md-12">
                  <div class="card shadow-sm border-secondary">
                    <div class="card-header text-secondary"><h3>Wilkins Infectious Diseases Hospital</h3></div>
                      <div id="hospital_wilkins" class="card-body text-secondary">
                        <h5 class="card-text">Tollfree <a href="tel:0800 9000" target="_blank">0800 9000</a></h5>
                        <h5 class="card-text">Landline <a href="tel:0242 740 404" target="_blank">0242 740 404</a></h5>
                      </div>
                  </div>
                  <div class="card shadow-sm border-secondary">
                    <div class="card-header text-secondary"><h3>Thorngrove Infectious Diseases Hospital</h3></div>
                    <div id="hospital_thorngrove" class="card-body text-secondary">
                      <h5 class="card-text">Tollfree <a href="tel:0800 9001" target="_blank">0800 9001</a></h5>
                        <h5 class="card-text">Landline <a href="tel:0292 261 930" target="_blank">0292 261 930</a></h5>
                    </div>
                  </div>
                  <div class="card shadow-sm border-secondary">
                    <div class="card-header text-secondary"><h3>Masvingo Provincial Hospital</h3></div>
                    <div id="hospital_masvingo" class="card-body text-secondary">
                      <h5 class="card-text">Tollfree <a href="tel:0800 9004" target="_blank">0800 9004</a></h5>
                        <h5 class="card-text">Landline <a href="tel:0392 263 184" target="_blank">0392 263 184</a></h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="card-deck mt-3 col-md-12">
                  <div class="card shadow-sm border-secondary">
                    <div class="card-header text-secondary"><h3>Mutare Provincial Hospital</h3></div>
                      <div id="hospital_mutare" class="card-body text-secondary">
                        <h5 class="card-text">Tollfree <a href="tel:0800 9002" target="_blank">0800 9002</a></h5>
                        <h5 class="card-text">Landline <a href="tel:0202 063 847" target="_blank">0202 063 847</a></h5>
                      </div>
                  </div>
                  <div class="card shadow-sm border-secondary">
                    <div class="card-header text-secondary"><h3>Gweru Provincial Hospital</h3></div>
                    <div id="hospital_gweru" class="card-body text-secondary">
                      <h5 class="card-text">Tollfree <a href="tel:0800 9003" target="_blank">0800 9003</a></h5>
                        <h5 class="card-text">Landline <a href="tel:0542 221 302" target="_blank">0542 221 302</a></h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="border-top my-3"></div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- start footer -->
    <%- include ('./partials/footer') %>
    <!-- end footer -->

  </body>
</html>

