<!DOCTYPE html>
<html lang="en">
  <head>
        <%- include ('./partials/head') %>
  </head>
  <body>

    <!-- START: header -->
    <header>
      <%- include ('./partials/header')  %>
    </header>
    <!-- END: header -->

    <main role="main">
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row align-items-center justify-content-center text-wrap text-break" id="notificationBarRow">
              <div class="col-md-8">
                <%- include ('./partials/notificationbar') %>
              </div>
          </div>
          <div class="row" id="loadingRow">Loading...</div>
          <div class="row align-items-center justify-content-center" id="dataRow">
            <div>
              <h5>
                <p class="text-muted">COVID-19 DASHBOARD</p>
              </h5>
            </div>
            <div class = "container">
                <div class="card-deck mb-3 text-center">
                  <div class="card shadow-sm border-danger">
                    <div class="card-header text-danger"><h3>Total Confirmed</h3></div>
                    <div class="card-body text-danger">
                      <h1 class="card-text">2</h1>
                    </div>
                  </div>
                  <div class="card shadow-sm border-secondary">
                    <div class="card-header text-secondary"><h3>Total Deaths</h3></div>
                    <div class="card-body text-secondary">
                      <h1 class="card-text">1</h1>
                    </div>
                  </div>
                  <div class="card shadow-sm border-success">
                    <div class="card-header text-success"><h3>Total Recovered</h3></div>
                    <div class="card-body text-success">
                      <h1 class="card-text">No Data</h1>
                    </div>
                  </div>
                </div>
                <p><i>Last updated 23 March 2020. Source - Ministry of Health and Child Care (MoHCC) in Zimbabwe.</i></p>
            </div>
          </div>
          <div class="row align-items-center justify-content-center" id="hotlinesRow">
            <div class="col-md-8 order-md-1">
              <h5>
                <p class="text-muted text-center">HOTLINES</p>
              </h5>
              <small class="text-muted">10MB Size Limit for ZIP file</small>
              <small class="text-muted">10MB Size Limit for ZIP file</small>
              <small class="text-muted">10MB Size Limit for ZIP file</small>
            </div>
          </div>
          <div class="row align-items-center justify-content-center" id="resourcesRow">
            <div class="col-md-8 order-md-1">
              <h5>
                <p class="text-muted text-center">RESOURCES</p>
              </h5>
              <small class="text-muted">10MB Size Limit for ZIP file</small>
              <small class="text-muted">10MB Size Limit for ZIP file</small>
              <small class="text-muted">10MB Size Limit for ZIP file</small>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- start footer -->
    <%- include ('./partials/footer') %>
    <!-- end footer -->

  </body>
</html>

