<!DOCTYPE html>
<html lang="en">
  <head>
        <%- include ('./partials/head') %>
  </head>
  <body>

    <!-- START: header -->
    <header>
      <%- include ('./partials/header')  %>
    </header>
    <!-- END: header -->

    <main role="main">
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row align-items-center justify-content-center text-wrap text-break" id="notificationBarRow">
              <div class="col-md-8">
                <%- include ('./partials/notificationbar') %>
              </div>
          </div>
          <div class="row justify-content-center" id="loadingRow">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="row align-items-center justify-content-center" id="dataRow">
            <div>
              <h5>
                <p class="text-muted">COVID-19 DASHBOARD</p>
              </h5>
            </div>
            <div class = "container">
              <div class="row">
                <div class="card-deck mt-3 col-md-12 text-center">
                  <div class="card shadow-sm border-warning">
                    <div class="card-header text-warning"><h3>Total Positive</h3></div>
                    <div id="stats_total_confirmed" class="card-body text-warning">
                      <h1 class="card-text">No Data</h1>
                    </div>
                  </div>
                  <div class="card shadow-sm border-danger">
                    <div class="card-header text-danger"><h3>Total Deaths</h3></div>
                    <div id="stats_total_deaths" class="card-body text-danger">
                      <h1 class="card-text">No Data</h1>
                    </div>
                  </div>
                  <div class="card shadow-sm border-secondary">
                    <div class="card-header text-secondary"><h3>Total Tested</h3></div>
                    <div id="stats_total_tested" class="card-body text-secondary">
                      <h1 class="card-text">No Data</h1>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="card-deck mt-3 col-md-12 text-center">
                <div class="card shadow-sm border-success">
                  <div class="card-header text-success"><h3>Total Recovered</h3></div>
                  <div id="stats_total_recover" class="card-body text-success">
                    <h1 class="card-text">No Data</h1>
                  </div>
                </div>
                <div class="card shadow-sm border-success">
                  <div class="card-header text-success"><h3>Total Negative</h3></div>
                  <div id="stats_total_negative" class="card-body text-success">
                    <h1 class="card-text">No Data</h1>
                  </div>
                </div>
            </div>
          </div>
            <div class="row">
              <div class="card-deck mt-3 col-md-12 text-center">
                  <div class="card shadow-sm border-info">
                    <div class="card-header text-info"><h3>Lockdown Status</h3></div>
                    <div id="stats_lockdown_status" class="card-body text-info">
                      <h1 class="card-text">No Data</h1>
                    </div>
                  </div>
                  <div class="card shadow-sm border-info">
                    <div class="card-header text-info"><h3>Lockdown Day Count</h3></div>
                    <div id="stats_lockdown_current_day" class="card-body text-info">
                      <h1 class="card-text">No Data</h1>
                    </div>
                  </div>
              </div>
            </div>
            <p id="stats_last_updated"><i>Last updated - </i></p>
          </div>
        </div>
          <div class="row align-items-center justify-content-center" id="hotlinesRow">
            <div class="col-md-8 order-md-1">
              <h5>
                <p class="text-muted text-center">HOTLINES</p>
              </h5>
              <h4 class="text-muted">Tollfree <a href="tel:+263 714 734 593" target="_blank">+263 714 734 593</a></h4>
              <h4 class="text-muted">Tollfree <a href="tel:+263 774 112 531" target="_blank">+263 774 112 531</a></h4>
              <h4 class="text-muted"><a href="https://wa.me/263714734593?text=hi" target="_blank">MoHCC WhatsApp</a></h4>
              <h4 class="text-muted"> <a href="https://twitter.com/MoHCCZim" target="_blank">Ministry of Health ZW Twitter</a></h4>
              <h4 class="text-muted"> <a href="http://www.mohcc.gov.zw/" target="_blank">Ministry of Health and Child Care Website</a></h4>
            </div>
          </div>
          <div class="row align-items-center justify-content-center" id="resourcesRow">
            <div class="col-md-8 order-md-1">
              <h5>
                <p class="text-muted text-center">RESOURCES</p>
              </h5>

              <br>

              <h6>
                <p class="text-muted text-center">SYMPTOMS</p>
              </h6>
              <p><small class="text-muted">Fever</small></p>
              <p><small class="text-muted">Cough</small></p>
              <p><small class="text-muted">Shortness of breath</small></p>

              <br>

              <h6>
                <p class="text-muted text-center">HOW TO PROTECT YOURSELF</p>
              </h6>
              <p><small class="text-muted">Wash hands with soap and water frequently / use an alcohol-based hand-rub</small></p>
              <p><small class="text-muted">Cover your nose and mouth with tissue paper or flexed elbow when coughing and sneezing</small></p>
              <p><small class="text-muted">Avoid close contact with people who are sick</small></p>

              <br>

              <h6>
                <p class="text-muted text-center">IF YOU THINK YOU ARE SICK</p>
              </h6>
              <p><small class="text-muted">Stay home except to get medical care</small></p>
              <p><small class="text-muted">Separate yourself from other people in your home (home isolation)</small></p>
              <p><small class="text-muted">Wear a face mask</small></p>
              <p><small class="text-muted">Cover your coughs and sneezes</small></p>
              <p><small class="text-muted">Clean hands often</small></p>

              <br>
              <p><i>Sources - <a href="http://www.mohcc.gov.zw/" target="_blank">Ministry of Health and Child Care Website</a>,
                      <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank">Centers for Disease Control and Prevention (USA) Website</a></i></p>
            </div>

          </div>
          <div class="row align-items-center justify-content-center" id="serviceProvidersRow">
            <div class="col-md-8 order-md-1">
              <h5>
                <p class="text-muted text-center">SERVICE PROVIDERS</p>
              </h5>

              <br>
              <p><small class="text-muted">Coming soon...</small></p>

            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- start footer -->
    <%- include ('./partials/footer') %>
    <!-- end footer -->

  </body>
</html>

